@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  text-align: center;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

#O {
  font-family: "Fredoka One", sans-serif;
  background: -webkit-linear-gradient(#f8c7a4, #ee7a79);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#X {
  font-family: "Fredoka One", sans-serif;
  background: -webkit-linear-gradient(#a4d5e9, #a39ddd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restart {
  background: -webkit-linear-gradient(#a4d5e9, #a39ddd);
  border-radius: 30px;
  padding: 10px 15px;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  position: absolute;
  font-weight: bold;
  top: 50%;
  left: 50%;
}

.title {
  margin: auto;
  text-align: center;
}

.game-board {
  margin: auto;
}

.mask {
  background: rgb(248, 199, 164);
  background: linear-gradient(
    312deg,
    rgba(248, 199, 164, 0.17550770308123254) 0%,
    rgba(238, 122, 121, 0.17550770308123254) 100%
  );
  position: fixed;
  width: 500px;
  height: 300px;
  border-radius: 30px;
  padding: 20px;
  /* margin-top: calc(50vh - 300px / 2);
  margin-left: calc(50vw - 500px / 2); */
}
